

#leftpane {
    float: left;
    overflow: hidden;
    width: 1000px;
}

#rightpane {
    float: right;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 18px;
    position: fixed;
    right: 0;
    top: 0;
    margin-left: 1000px;
    background: #F5ECCE;
}

#paragraphs {
    color: rgb(94, 33, 0);
    padding-bottom: 60px;
}

#paragraphs p {
    font-size: 16px;
}

#paragraphs h1 {
    color: rgb(94, 33, 0);
    font-size: 16px;    
}

rect {
    stroke: #FFE5C9;  /*colorLightBrown*/
}

rect.highlighted {
    stroke: rgb(201, 115, 68); /*colorDarkBrown*/
    stroke-width: 2px;
}

rect.selected {
    stroke: #5E2100; /*colorDarkBrown*/
    stroke-width: 3px;
}