
#rightpane {
    float: right;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 11px;
    position: fixed;
    right: 0;
    top: 0;
    width: 350px;
    background: #F5ECCE;
    color: rgb(94, 33, 0);
}

#leftpane {
    float: none;
    overflow: hidden;
    width: auto;
}

rect {
    stroke: #FFE5C9;  /*colorLightBrown*/
}

rect.highlighted {
    stroke: #5E2100; /*colorDarkBrown*/
    stroke-width: 2px;
}

rect.selected {
    stroke: #5E2100; /*colorDarkBrown*/
    stroke-width: 3px;
}