a {
   outline: 0;
}

#header {
    width: 100%;
    height: 22px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0.2% 0 0 0.5%;
    background: #42425c;
    border-bottom: 2px solid #b61a01;  /* colorRed2 */
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#header #lang {
    position: fixed;
    right: 10px;
    top: 6px;
    color: #f7f8fa; /* colorBlue1 */
    font-size: 75%;
}

#header #lang a {
    text-decoration: none;
    color: #f7f8fa; /* colorBlue1 */
    font-weight: normal;
}

#header #lang a.lang_selected {
    font-weight: bold;
}

a#title {
    color: #f7f8fa; /* colorBlue1 */
}

a#title:hover {
    color: #e3e4e6; /* colorBlue2 */
}

a#title {
    text-decoration: none;
}

#container {
    width: 1280px;
    margin: auto;
}

#leftpane {
    width: 920px;
    float: left;
    padding-top: 42px;
    overflow: hidden;
    text-align: center;
    color: #cfd0d1; /* colorBlue3, for "loading" text */
}

#rightpane {
    float: right;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 36px 0;
    z-index: 0;
    background: -webkit-linear-gradient(left, #f7f8fa, #f4f5f7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f7f8fa, #f4f5f7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f7f8fa, #f4f5f7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f7f8fa, #f4f5f7); /* Standard syntax */

    border-right: 1px solid #cfd0d1;
}

#paragraphs {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 0 18px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 95%;
}

#paragraphs p {
    text-align: justify;
}

#paragraphs h1 {
    font-weight: bold;
    color: #b61a01;  /* colorRed2 */
}

rect {
    stroke: #e3e4e6;  /* colorBlue2 */
}

text {
    font-family: Verdana, Geneva, sans-serif;
    cursor: default;
}

.verse_no {
    vertical-align: super;
    font-size: 75%;
    font-weight: bold;
}